# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build output
dist/
tmp/

# Coverage
coverage/
.nyc_output/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Project-specific
config.json
settings.sqlite3

# npm
.npm
*.tgz
